{% load static %}
<div class="container-fuild web-footer">
    <!--站点地图-->
    <div class="row" id="map-footer">
        <div class="col-md-2">
            <dl>
                <dt>首页</dt>
                <dd><a href="#">学生管理</a></dd>
                <dd><a href="#">教师管理</a></dd>
            </dl>
        </div>
        <div class="col-md-2">
            <dl>
                <dt>课程管理</dt>
                <dd><a href="#">课程信息</a></dd>
                <dd><a href="#">学期开课</a></dd>
                <dd><a href="#">教师配课</a></dd>
                <dd><a href="#">班级配课</a></dd>
                <dd><a href="#">学生成绩</a></dd>
            </dl>
        </div>
        <div class="col-md-2">
            <dl>
                <dt>毕业管理</dt>
                <dd><a href="#">实习资料</a></dd>
                <dd><a href="#">毕设资料</a></dd>
            </dl>
        </div>
        <div class="col-md-2">
            <dl>
                <dt>存储管理</dt>
                <dd><a href="#">课程存储</a></dd>
                <dd><a href="#">实习存储</a></dd>
                <dd><a href="#">毕设存储</a></dd>
            </dl>
        </div>
        <div class="col-md-4" id="wx">
            <p>扫描二维码关注我们</p>
            <img class="qrimg" src="{% static 'img/qr.png' %}" alt="扫码关注我们"/>
            <p>客服热线：<b style="font-size: 20px">400 111 2222</b></p>
        </div>
    </div>
    <!--版权信息-->
    <div class="row" id="patent-footer">
        <p>©2024重庆恒达科技有限公司企业门户 版权所有 | 渝ICP备 19006378号</p>

    </div>
</div>